@model OnlineShop.Context.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/SharedAdmin/_Layout.cshtml";
}

<h2>Thông tin</h2>

<div>
    <h4>Danh mục</h4>
    <hr />
    <table style="font-size:24px" align="center" class="dl-horizontal">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name) : 
            </td>

            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Avatar) : 
            </td>

            <td>
                @{
                    string ImagePath = "~/Content/images/" + Model.Avatar;
                }
                <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" />
            </td>
        </tr>

    </table>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Trở lại danh sách", "Index")
</p>
