@model OnlineShop.Context.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/SharedAdmin/_Layout.cshtml";
}

<h2>Chi tiết sản phẩm @Html.DisplayFor(model => model.Name) </h2>

<div align="center">
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>

        <dd>
            @{
                string ImagePath = "~/Content/images/" + Model.Avatar;
            }
            <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Trở lại danh sách", "Index")
</p>
